<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wb.ibatis.mapper.UserMapper">
    <resultMap id="user" type="com.wb.ibatis.domain.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
    </resultMap>
    <select id="selectById" resultType="com.wb.ibatis.domain.User">
        select * from user where id = #{id}
    </select>
    <insert id="insertUser" parameterType="com.wb.ibatis.domain.User">
        insert into user(id,name,age) values(#{id},#{name},#{age})
    </insert>
</mapper>
